<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/options.css" />
    <title>Covid Tracker Options</title>
  </head>
  <body>
    <h2>Select country to track</h2>
    <p>Use the input field to search for a specific country.</p>

    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content show">
        <input type="text" placeholder="Search..." id="input" />
      </div>
    </div>
  </body>
  <script src="../javascripts/options.js"></script>
</html>
